{% extends '::base.html.twig' %}

{% block title 'Règles de confidentialité' %}
{% block description 'Règles de confidentialité' %}

{% set contains_editable_block = 'yes' %}

{% block body %}
	<div class="col-sm-12">
	    {{ sonata_block_render({ 
	        'type': 'application.sonata.block.service.editable_text', 
	        'settings' : {
	            'title' : 'regles_de_confidentialite'
	        }
	    }) }}
    </div>
{% endblock %}