{% extends '::base.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title 'Découvrez-nous' %}
{% block description 'Découvrir qui sont les membres du BDE.' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
        <!--testimonial end-->
		<section class="panel mtop30 tab" style="background:white;">
	        <div class="panel-body">
                <div id="trombi" class="tab-pane">
					<section id="bureau">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Bureau</h1>
									<hr>
									<p class="big thin">Voici le bureau de FUEGO. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année.</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-top-center"><span class="name">Boris</span><br /><b>Président</b><br /><i class="pic color_bureau boris bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-top"><span class="name">Maximilien</span><br /><b>Vice-Président</b><br /><i class="pic color_bureau maximilien bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-bottom"><i class="pic color_bureau sebm bureau"></i><br /><span class="name">Sébastien</span><br /><b>Co-trésorier</b></div>
								<div class="col-xs-12 col-sm-5 bureau-bottom"><i class="pic color_bureau joris bureau"></i><br /><span class="name">Joris</span><br /><b>Co-trésorier</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-bottom-center"><i class="pic color_bureau arthur bureau"></i><br /><span class="name">Arthur</span><br /><b>Secrétaire</b></div>
							</div>
						</div><br /><br />
					</section>
					<section id="crea">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Créa</h1>
									<hr>
									<p class="big thin">Le pôle Créa ou plutôt le pôle R-Andy qui s'occupe des designs d'évènements. On n'est pas beaucoup mais on fait plein de trucs.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-md-3 col-xs-12"><i class="pic color_crea andy"></i><br />Andy<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Design / Web</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea randy"></i><br />Randy</div>
							</div><br /><br />
						</div><br /><br />
					</section>
					<section id="vieetud">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Vie Étudiante</h1>
									<hr>
									<p class="big thin">Le pôle Vie Étudiante est là pour répondre aux besoins des étudiants. Ils dénichent les bons plans et font l'intermédiaire avec le campus.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_ve mafe"></i><br />Mafé<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Clubs</div>
								<div class="col-xs-12 col-md-3"></div> 
								<div class="col-xs-12 col-md-3"><i class="pic color_ve rams"></i><br />Rams</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve maxime"></i><br />Maxime</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Bons plans</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve floriane"></i><br />Floriane</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve gregoire"></i><br />Grégoire</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Campus</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve jordan"></i><br />Jordan</div>
							</div>
						</div><br /><br />
					</section>
					<section id="logistique">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Logistique</h1>
									<hr>
									<p class="big thin">Le pôle logistique est l'endroit où tu trouveras des pilotes chevronnés et des bras musclés pour monter les évènements. C'est aussi ceux qui remplissent le frigo vide du BDE.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_log sebl"></i><br />Sébastien<br /><b>Co-Respo'</b></div>
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_log pm"></i><br />PM<br /><b>Co-Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Réserve</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log corentin"></i><br />Corentin</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log abdel"></i><br />Abdel</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Tac Tuc</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log xinyu"></i><br />Xinyu</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log benji"></i><br />Benji</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log victor"></i><br />Victor</div>
							</div>
						</div><br /><br />
					</section>
					<section id="com">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Communication</h1>
									<hr>
									<p class="big thin">Le pôle Communication a pour objectif de tenir informés les étudiants via les réseaux sociaux et les mails hebdos.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_com brice"></i><br />Brice<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Web / Mail</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com antoine"></i><br />Antoine</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Réseaux Sociaux</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com geraldine"></i><br />Géraldine</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com camille"></i><br />Camille</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Sponsors</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com lucas"></i><br />Lucas</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com valentin"></i><br />Valentin</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com georges"></i><br />Georges</div>
							</div>
						</div><br /><br />
					</section>
					<section id="event" style="margin-top: 100px;">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Event</h1>
									<hr>
									<p class="big thin">Quand il s'agit d'animer l'ESIEE, le pôle Event répond toujours présent !</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_event aymeric"></i><br />Aymeric<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole big">Animation</div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-4"><i class="pic color_event ghislain"></i><br />Ghislain</div>
                                    <div class="col-xs-12 col-md-4"><i class="pic color_event leopold"></i><br />Léopold</div>
                                    <div class="col-xs-12 col-md-4"><i class="pic color_event guillaume"></i><br />Guillaume</div>
                                </div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Voyage</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event gabo"></i><br />Gabo</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event etienne"></i><br />Etienne</div>
							</div><br /><br />
						</div>
					</section>
                </div>
	        </div>
	    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			alter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (alter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		alter = !alter;
			        }
			    } else 
			    	n = 0;
			}
		});
	</script>
{% endblock %}