{% extends '::base.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title 'Découvrez-nous' %}
{% block description 'Découvrir qui sont les membres du BDE.' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
        <!--testimonial end-->
		<section class="panel mtop30 tab" style="background:white;">
	        <div class="panel-body">
                <div id="trombi" class="tab-pane">
					<section id="bureau">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Bureau</h1>
									<hr>
									<p class="big thin">Voici le bureau de Macao. C'est le chef de famille. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année.</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-top-center"><span class="name">Loris</span><br /><b>Président</b><br /><i class="pic color_bureau loris bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-top"><span class="name">Rubben</span><br /><b>Vice-Président</b><br /><i class="pic color_bureau rubben bureau"></i></div>
								<div class="col-xs-12 col-sm-5 bureau-top"><span class="name">Marion</span><br /><b>Vice-Présidente</b><br /><i class="pic color_bureau marion bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-bottom"><i class="pic color_bureau loulou bureau"></i><br /><span class="name">Louis</span><br /><b>Co-trésorier</b></div>
								<div class="col-xs-12 col-sm-5 bureau-bottom"><i class="pic color_bureau william bureau"></i><br /><span class="name">William</span><br /><b>Co-trésorier</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-bottom-center"><i class="pic color_bureau soso bureau"></i><br /><span class="name">Sophie</span><br /><b>Secrétaire</b></div>
							</div>
						</div><br /><br />
					</section>
					<section id="crea">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Créa</h1>
									<hr>
									<p class="big thin">Le pôle Créa a pour mission de t'apporter un peu de douceur et de t'en mettre plein les mirettes.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-md-3 col-xs-12"><i class="pic color_crea valou"></i><br />Valentin<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Design</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea tellier"></i><br />Kévin</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea andrieu"></i><br />Andrieu</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Vidéo</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea steven"></i><br />Steven</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Web</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea kevin"></i><br />Kévin</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea mika"></i><br />Michael</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea jb"></i><br />Jean-Baptiste</div>
							</div>
						</div><br /><br />
					</section>
					<section id="vieetud">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Vie Étudiante</h1>
									<hr>
									<p class="big thin">Le pôle Vie Étudiante est là pour répondre aux besoins des étudiants. Un contrôle samedi prochain ? Besoin de subventions pour les clubs ? Vous êtes à la bonne adresse. Et dès la rentrée, on vous réserve quelques jobs pour arrondir vos fins de mois !</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_ve hortie"></i><br />Horense<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Clubs</div>
								<div class="col-xs-12 col-md-3"></div> 
								<div class="col-xs-12 col-md-3"><i class="pic color_ve camille"></i><br />Camille</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve flo"></i><br />Florent</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Bons plans</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve seb"></i><br />Sébastien</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve matthias"></i><br />Matthias</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Campus</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve pv"></i><br />Pierre-Vincent</div>
							</div>
						</div><br /><br />
					</section>
					<section id="logistique">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Logistique</h1>
									<hr>
									<p class="big thin">Le pôle logistique est l'endroit où tu trouveras des pilotes chevronnés et des bras musclés pour monter les évènements. Tu ne les as pas trouvés ? Ils sont peut-être dans un jacuzzi...</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_log titi"></i><br />Thibaud<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Réserve</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log dodo"></i><br />Dorian</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log remi"></i><br />Rémi</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log ferracci"></i><br />Sylvain</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Tac Tuc</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log toto"></i><br />Thomas</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log maxime"></i><br />Maxime</div>
							</div>
						</div><br /><br />
					</section>
					<section id="com">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Communication</h1>
									<hr>
									<p class="big thin">Le pôle Communication a pour objectif de tenir informés les étudiants, écrire le Blacao.</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_com gogo"></i><br />Gauthier<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Com'</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com alexis"></i><br />Alexis</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Posts</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com delphine"></i><br />Delphine</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com quentin"></i><br />Quentin</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Rédaction</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com laura"></i><br />Laura</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com farzad"></i><br />Sylvain</div>
							</div>
						</div><br /><br />
					</section>
					<section id="event" style="margin-top: 100px;">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Event</h1>
									<hr>
									<p class="big thin">Quand il s'agit d'animer l'ESIEE, le pôle Event répond toujours présent ! Des membres déjantés comme pas possible !</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_event matou"></i><br />Mathilde<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole big">Anim'</div>
								<div class="col-xs-12 col-md-9">
									<div class="row">
										<div class="col-xs-12 col-md-4"><i class="pic color_event aymeric"></i><br />Aymeric</div>
										<div class="col-xs-12 col-md-4"><i class="pic color_event helene"></i><br />Hélène</div>
										<div class="col-xs-12 col-md-4"><i class="pic color_event marie"></i><br />Marie</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-offset-8 col-md-4"><i class="pic color_event vico"></i><br />Victor</div>
									</div>
								</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Voyage</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event guillaume"></i><br />Guillaume</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event ame"></i><br />Amelina</div>
							</div><br /><br />
						</div>
					</section>
                </div>
	        </div>
	    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			alter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (alter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		alter = !alter;
			        }
			    } else 
			    	n = 0;
			}
		});
	</script>
{% endblock %}