{% extends '::base.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title 'Découvrez-nous' %}
{% block description 'Découvrir qui sont les membres du BDE.' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
        <!--testimonial end-->
		<section class="panel mtop30 tab" style="background:white;">
	        <div class="panel-body">
                <div id="trombi" class="tab-pane">
					<section id="bureau">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Bureau</h1>
									<hr>
									<p class="big thin">Voici le bureau de Lagoon. C'est le chef de famille. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année. </p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-top-center"><span class="name">Vincent</span><br /><b>Président</b><br /><i class="pic color_bureau vincent bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-top"><span class="name">Maxime</span><br /><b>Vice-Président</b><br /><i class="pic color_bureau maxou bureau"></i></div>
								<div class="col-xs-12 col-sm-5 bureau-top"><span class="name">Audrey</span><br /><b>Vice-Présidente</b><br /><i class="pic color_bureau audrey bureau"></i></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-offset-1 col-sm-5 bureau-bottom"><i class="pic color_bureau marion bureau"></i><br /><span class="name">Marion</span><br /><b>Trésorière</b></div>
								<div class="col-xs-12 col-sm-5 bureau-bottom"><i class="pic color_bureau clara bureau"></i><br /><span class="name">Clara</span><br /><b>Vice-Trésorière</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-sm-12 bureau-bottom-center"><i class="pic color_bureau mumu bureau"></i><br /><span class="name">Adrien</span><br /><b>Secrétaire</b></div>
							</div>
						</div><br /><br />
					</section>
					<section id="com">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Branche Communication</h1>
									<hr>
									<p class="big thin">La branche Communication a pour objectif de tenir informés les étudiants, écrire le Bloup Bloup</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_com marionl"></i><br />Marion<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole big">Com'</div>
								<div class="col-xs-12 col-md-9">
									<div class="row">
										<div class="col-xs-12 col-md-4"><i class="pic color_com anhminh"></i><br />Anh-Minh</div>
										<div class="col-xs-12 col-md-4"><i class="pic color_com vincentm"></i><br />Vincent</div>
										<div class="col-xs-12 col-md-4"><i class="pic color_com loic"></i><br />Loic</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-offset-8 col-md-4"><i class="pic color_com coralie"></i><br />Coralie</div>
									</div>
								</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Rédac'</div>
								<div class="col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com chris"></i><br />Christophe</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_com bastian"></i><br />Bastian</div>
							</div>
						</div><br /><br />
					</section>
					<section id="crea">
						<!-- The title -->
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Branche Créa</h1>
									<hr>
									<p class="big thin">Yolo swag</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-md-3 col-xs-12"><i class="pic color_crea antoine"></i><br />Antoine<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Graphisme</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea aymeric"></i><br />Aymeric</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea jonathan"></i><br />Jonathan</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Multimédia</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea delphine"></i><br />Delphine</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea tsuko"></i><br />Anes</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Web-Appli</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea hugo"></i><br />Hugo</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea naji"></i><br />Naji</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_crea maxence"></i><br />Maxence</div>
							</div>
						</div><br /><br />
					</section>
					<section id="event" style="margin-top: 100px;">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Branche Event</h1>
									<hr>
									<p class="big thin">Quand il s'agit d'animer l'ESIEE, la branche Event’ répond toujours présent ! Des membres déjantés comme pas possible !</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_event diabo"></i><br />Adrien<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Animation</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event claudia"></i><br />Claudia</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event elena"></i><br />Elena</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event mathilde"></i><br />Mathilde</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Voyages</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event romain"></i><br />Romain</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event thomas"></i><br />Thomas</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Campus</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_event arthur"></i><br />Arthur</div>
							</div>
						</div>
					</section>
					<section id="vieetud">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Branche Vie Étudiante</h1>
									<hr>
									<p class="big thin">La branche Vie Étudiante est là pour répondre aux besoins des étudiants. Un contrôle samedi prochain ? Besoin de subventions pour les clubs ? Vous êtes à la bonne adresse. Et dès la rentrée, on vous réserve quelques jobs pour arrondir vos fins de mois !</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_ve adsy"></i><br />Adrien<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Clubs</div>
								<div class="col-xs-12 col-md-3"></div> 
								<div class="col-xs-12 col-md-3"><i class="pic color_ve morgane"></i><br />Morgane</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve alexis"></i><br />Alexis</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Bons plans</div>
								<div class="col-xs-12 col-md-3"></div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve evelyne"></i><br />Evelyne</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_ve louis"></i><br />Louis</div>
							</div>
						</div>
					</section>
					<section id="logistique">
						<div class="">
							<div class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Branche Logistique</h1>
									<hr>
									<p class="big thin">La branche logistique est l'endroit où tu trouveras des pilotes chevronnés et des bras musclés pour monter les évènements. Tu ne les as pas trouvés ? Ils sont peut-être autour d'une chicha...</p>
								</div>
							</div>
						</div>
						<div class="text-center ">
							<div class="row">
								<div class="col-md-offset-9 col-xs-12 col-md-3"><i class="pic color_log arnaud"></i><br />Arnaud<br /><b>Respo'</b></div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Réserve</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log theo"></i><br />Théo</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log edouard"></i><br />Edouard</div>
								<div class="col-xs-12 col-md-3"><i class="pic color_log augustin"></i><br />Augustin</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Tac Tuc</div>
								<div class="col-xs-12 col-md-3 col-md-offset-6"><i class="pic color_log maxime"></i><br />Maxime</div>
							</div><br /><br />
							<div class="row">
								<div class="col-xs-12 col-md-3 pole">Bidouille</div>
								<div class="col-xs-12 col-md-3 col-md-offset-6"><i class="pic color_log thibault"></i><br />Thibault</div>
							</div>
						</div>
					</section>
                </div>
	        </div>
	    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			alter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (alter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		alter = !alter;
			        }
			    } else 
			    	n = 0;
			}
		});
	</script>
{% endblock %}