{% extends '::base.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title 'Découvrez-nous' %}
{% block description 'Découvrir qui sont les membres du BDE.' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
        <!--testimonial end-->
				<section class="panel mtop30 tab" style="background:white;">
			        <div class="panel-body">
		                <div id="trombi" class="tab-pane">
							<section id="bureau">
								<!-- The title -->
								<div class="">
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<h1>Bureau</h1>
											<hr>
											<p class="big thin">Voici le bureau de DJANGO. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année.</p>
										</div>
									</div>
								</div>
								<div style="margin-top: 100px;" class=" text-center">
								<div class="row">
									<div class="col-xs-12 col-sm-12 member-top-center">
										<b>Président</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_bureau mafe bureau"></i>
										</div>
										<span class="name">Mafé</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-top">
										<b>Vice-Président</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_bureau adrien bureau"></i>
										</div>
										<span class="name">Adrien Mormin</span>
									</div>
									<div class="col-xs-12 col-sm-6 member-top">
										<b>Vice-Présidente</b>
										<div class="animated bounceIn delay-05s">
											<i class="pic color_bureau chloe bureau"></i>
										</div>
										<span class="name">Chloé</span>
									</div>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-6 member-bottom">
											<b>Trésorier</b>
											<div class="animated bounceIn delay-05s">
												<i class="pic color_bureau hicham bureau"></i>
											</div>
											<span class="name">Hicham Mohamed Abdellaoui</span>
										</div>
										<div class="col-xs-12 col-sm-6 member-bottom">
											<b>Trésorier</b>
											<div class="animated bounceIn delay-075s">
												<i class="pic color_bureau thomas bureau"></i>
											</div>
											<span class="name">Thomas Lestang</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-bottom-center">
												<b>Secrétaire</b>
												<div class="animated bounceIn delay-075s">
													<i class="pic color_bureau laurads bureau"></i>
												</div>
												<span class="name">Laura Da Silva</span></div>
											</div>
										</div>
									</section>
							<section id="com">
								<!-- The title -->
								<div class="">
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<h1>Pôle Com</h1>
											<hr>
											<p class="big thin">Le pôle Com</p>
										</div>
									</div>
								</div>
								<div  style="margin-top: 100px;" class="text-center ">
									<div class="row">
												<div class="col-xs-12 col-sm-12 member-top-center">
													<b>Respo</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com audrey bureau"></i>
													</div>
													<span class="name">Audrey</span>
												</div>
											</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Presque respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_com leopold bureau"></i>
									</div>
									<span class="name">Léo le + beau</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Réseaux sociaux</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_com brice bureau"></i>
									</div>
									<span class="name">Brice</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Réseaux sociaux</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_com cedric bureau"></i>
										</div>
										<span class="name">Cedric</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Réseaux sociaux</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_com camille bureau"></i>
											</div>
											<span class="name">Camille</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Réseaux sociaux + Design</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_com cyrine bureau"></i>
												</div>
												<span class="name">Cyrine</span></div>
											</div>


											<div class="row justify-content-center">
												<div class="col-xs-12 col-sm-6 member-top">
													<b>Design</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com naila bureau"></i>
													</div>
													<span class="name">Naïla</span>
												</div>
												<div class="col-xs-12 col-sm-6 member-top member-right">
													<b>Design</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com aurelie bureau"></i>
													</div>
													<span class="name">Aurélie</span>
													</div>
												</div>
												<div class="row justify-content-center">
													<div class="col-xs-12 col-sm-6 member-bottom">
														<b>Web</b>
														<div class="animated bounceIn delay-025s">
															<i class="pic color_com antoinel bureau"></i>
														</div>
														<span class="name">Antoine</span></div>
														<div class="col-xs-12 col-sm-6 member-bottom member-right">
															<b>Vidéo</b>
															<div class="animated bounceIn delay-025s">
																<i class="pic color_com nael bureau"></i>
															</div>
															<span class="name">Naël</span></div>
														</div>
													</div>
								</div><br /><br />
							</section>
							<section id="ave">
						<!-- The title -->
						<div class="">
							<div style="margin-top: 100px;" class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle AVE</h1>
									<hr>
									<p class="big thin">Voici le pôle AVE blabla</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 member-top-center">
									<b>Respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave pepito bureau"></i>
									</div>
									<span class="name">Maxime</span>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Anim</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave yasmina bureau"></i>
									</div>
									<span class="name">Yasmina</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Anim</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave steph bureau"></i>
									</div>
									<span class="name">Steph'</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Anim</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_ave gregoire bureau"></i>
										</div>
										<span class="name">Greg'</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Anim</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_ave miguel bureau"></i>
											</div>
											<span class="name">Miguel</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Voyage</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave catherine bureau"></i>
												</div>
												<span class="name">Catherine</span></div>
											</div>



											<div class="row justify-content-center">
												<div class="col-xs-12 col-sm-6 member-top">
													<b>Club</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_ave antoiner bureau"></i>
													</div>
													<span class="name">Antoine</span>
												</div>
												<div class="col-xs-12 col-sm-6 member-top member-right">
													<b>Club</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_ave yann bureau"></i>
													</div>
													<span class="name">Yann</span>
													</div>
												</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Club</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_ave julien bureau"></i>
										</div>
										<span class="name">Julien</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Club</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_ave victoria bureau"></i>
											</div>
											<span class="name">Victoria</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Scolarité</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave rana bureau"></i>
												</div>
												<span class="name">Rana</span>
											</div>
										</div>


										<div class="row justify-content-center">
											<div class="col-xs-12 col-sm-6 member-top">
												<b>Campus</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave laurag bureau"></i>
												</div>
												<span class="name">Laura</span>
											</div>
											<div class="col-xs-12 col-sm-6 member-top member-right">
												<b>Campus</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave raphaelle bureau"></i>
												</div>
												<span class="name">Raphaëlle</span>
												</div>
											</div>
										</div>
									</section>
					<section id="log">
						<!-- The title -->
						<div class="">
							<div style="margin-top: 100px;" class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Log</h1>
									<hr>
									<p class="big thin">Voici le pôle Log blabla</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 member-top-center">
									<b>Respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log marc bureau"></i>
									</div>
									<span class="name">Marc</span>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log geraldine bureau"></i>
									</div>
									<span class="name">Geraldine</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Log Bricoleur</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log doryan bureau"></i>
									</div>
									<span class="name">Doryan</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Log Costaud</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log geraud bureau"></i>
										</div>
										<span class="name">Geraud</span>
									</div>
									<div class="col-xs-12 col-sm-6 member-bottom member-right">
										<b>Grand Log</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log georges bureau"></i>
										</div>
										<span class="name">Georges</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 member-center-center">
										<b>Log Cinéphile</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log theo bureau"></i>
										</div>
										<span class="name">Théo</span>
									</div>
								</div>

								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-12">
										<b>Log Daron</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log geoffroy bureau"></i>
										</div>
										<span class="name">Geoffroy</span>
									</div>
								</div>
							</div>
						</section>

		                </div>
			        </div>
			    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			alter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (alter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		alter = !alter;
			        }
			    } else
			    	n = 0;
			}
		});
	</script>
{% endblock %}
