{% extends '::base.html.twig' %}

{% set contains_editable_block = 'yes' %}

{% block title 'Découvrez-nous' %}
{% block description 'Découvrir qui sont les membres du BDE.' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/applicationbde/css/team.css'
		filter='cssrewrite,?yui_css'
	 %}
		<link rel="stylesheet" href="{{ asset_url }}" type='text/css'/>
	{% endstylesheets %}
{% endblock %}

{% block body %}
        <!--testimonial end-->
				<section class="panel mtop30 tab" style="background:white;">
			        <div class="panel-body">
		                <div id="trombi" class="tab-pane">
							<section id="bureau">
								<!-- The title -->
								<div class="">
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<h1>Bureau</h1>
											<hr>
											<p class="big thin">Le bureau de NOVA. Il supporte l’ensemble du BDE, gère les finances, prend les décisions pour mener à bien le mandat tout au long de l'année.</p>
										</div>
									</div>
								</div>
								<div style="margin-top: 100px;" class=" text-center">
								<div class="row">
									<div class="col-xs-12 col-sm-12 member-top-center">
										<b>Président</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_bureau remi bureau"></i>
										</div>
										<span class="name">Rémi</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-top">
										<b>Vice-Président</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_bureau romain bureau"></i>
										</div>
										<span class="name">Romain</span>
									</div>
									<div class="col-xs-12 col-sm-6 member-top">
										<b>Vice-Président</b>
										<div class="animated bounceIn delay-05s">
											<i class="pic color_bureau driss bureau"></i>
										</div>
										<span class="name">Driss</span>
									</div>
									</div>

									<div class="row">
										<div class="col-xs-12 col-sm-6 member-bottom">
											<b>Trésorier</b>
											<div class="animated bounceIn delay-05s">
												<i class="pic color_bureau anto bureau"></i>
											</div>
											<span class="name">Antony</span>
										</div>
										<div class="col-xs-12 col-sm-6 member-bottom">
											<b>Trésorière</b>
											<div class="animated bounceIn delay-075s">
												<i class="pic color_bureau marine bureau"></i>
											</div>
											<span class="name">Marine</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-bottom-center">
												<b>Secrétaire</b>
												<div class="animated bounceIn delay-075s">
													<i class="pic color_bureau justine bureau"></i>
												</div>
												<span class="name">Justine</span></div>
											</div>
										</div>
									</section>
							<section id="com">
								<!-- The title -->
								<div class="">
									<div class="row">
										<div class="col-xs-12 col-md-12">
											<h1>Pôle Com</h1>
											<hr>
											<p class="big thin">Le pôle Communication</p>
										</div>
									</div>
								</div>
								<div  style="margin-top: 100px;" class="text-center ">
									<div class="row">
												<div class="col-xs-12 col-sm-12 member-top-center">
													<b>Respo</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com andrea bureau"></i>
													</div>
													<span class="name">Andréa</span>
												</div>
											</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Créa</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_com dufief bureau"></i>
									</div>
									<span class="name">Valentin</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Vidéo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_com thibaut bureau"></i>
									</div>
									<span class="name">Thibaut</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Web</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_com legrand bureau"></i>
										</div>
										<span class="name">Antoine Legrand</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Réseaux sociaux</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_com julie bureau"></i>
											</div>
											<span class="name">Julie</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Réseaux sociaux</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_com noemie bureau"></i>
												</div>
												<span class="name">Noémie</span></div>
											</div>


											<div class="row justify-content-center">
												<div class="col-xs-12 col-sm-6 member-top">
													<b>Réseaux sociaux</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com sarra bureau"></i>
													</div>
													<span class="name">Sarra</span>
												</div>
												<div class="col-xs-12 col-sm-6 member-top member-right">
													<b>Réseaux sociaux</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_com ethan bureau"></i>
													</div>
													<span class="name">Ethan</span>
													</div>
												</div>
												<br /><br />
							</section>
							<section id="ave">
						<!-- The title -->
						<div class="">
							<div style="margin-top: 100px;" class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle AVE</h1>
									<hr>
									<p class="big thin">Le pôle Animation de la Vie Etudiante</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 member-top-center">
									<b>Respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave vic bureau"></i>
									</div>
									<span class="name">Victoria</span>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Référent anim</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave miguel bureau"></i>
									</div>
									<span class="name">Miguel</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Anim</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_ave tchao bureau"></i>
									</div>
									<span class="name">Antoine Tchao</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Anim</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_ave nico bureau"></i>
										</div>
										<span class="name">Nicolas</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Anim</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_ave pidoux bureau"></i>
											</div>
											<span class="name">Antoine Pidoux</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Voyage / CI</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave emilie bureau"></i>
												</div>
												<span class="name">Émilie</span></div>
											</div>



											<div class="row justify-content-center">
												<div class="col-xs-12 col-sm-6 member-top">
													<b>Campus</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_ave rana bureau"></i>
													</div>
													<span class="name">Rana</span>
												</div>
												<div class="col-xs-12 col-sm-6 member-top member-right">
													<b>Campus</b>
													<div class="animated bounceIn delay-025s">
														<i class="pic color_ave jad bureau"></i>
													</div>
													<span class="name">Jad</span>
													</div>
												</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Clubs</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_ave anais bureau"></i>
										</div>
										<span class="name">Anaïs</span></div>
										<div class="col-xs-12 col-sm-6 member-bottom member-right">
											<b>Clubs</b>
											<div class="animated bounceIn delay-025s">
												<i class="pic color_ave lucas bureau"></i>
											</div>
											<span class="name">Lucas</span></div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-12 member-center-center">
												<b>Clubs</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave vincent bureau"></i>
												</div>
												<span class="name">Vincent</span>
											</div>
										</div>


										<div class="row justify-content-center">
											<div class="col-xs-12 col-sm-6 member-top">
												<b>Clubs</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave julien bureau"></i>
												</div>
												<span class="name">Julien</span>
											</div>
											<div class="col-xs-12 col-sm-6 member-top member-right">
												<b>Vie scolaire / Sponsors</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_ave chloe bureau"></i>
												</div>
												<span class="name">Chloé</span>
												</div>
											</div>
										</div>
									</section>
					<section id="log">
						<!-- The title -->
						<div class="">
							<div style="margin-top: 100px;" class="row">
								<div class="col-xs-12 col-md-12">
									<h1>Pôle Log</h1>
									<hr>
									<p class="big thin">Le pôle Logistique</p>
								</div>
							</div>
						</div>
						<div style="margin-top: 100px;" class=" text-center">
							<div class="row">
								<div class="col-xs-12 col-sm-12 member-top-center">
									<b>Respo</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log geof bureau"></i>
									</div>
									<span class="name">Geoffroy 666</span>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-xs-12 col-sm-6 member-top">
									<b>Gros bras</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log abdel bureau"></i>
									</div>
									<span class="name">Abdel</span>
								</div>
								<div class="col-xs-12 col-sm-6 member-top member-right">
									<b>Gros bras</b>
									<div class="animated bounceIn delay-025s">
										<i class="pic color_log said bureau"></i>
									</div>
									<span class="name">Said</span>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-bottom">
										<b>Gros bras</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log onur bureau"></i>
										</div>
										<span class="name">Onur</span>
									</div>
									<div class="col-xs-12 col-sm-6 member-bottom member-right">
										<b>Gros bras</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log mathieu bureau"></i>
										</div>
										<span class="name">Mathieu</span>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-12 member-center-center">
										<b>Gros bras</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log fatia bureau"></i>
										</div>
										<span class="name">Fatia</span>
									</div>
								</div>

								<div class="row justify-content-center">
									<div class="col-xs-12 col-sm-6 member-top">
										<b>Gros bras</b>
										<div class="animated bounceIn delay-025s">
											<i class="pic color_log allan bureau"></i>
										</div>
										<span class="name">Allan</span>
									</div>
									<div class="col-xs-12 col-sm-6 member-top member-right" >
												<b>Gros bras</b>
												<div class="animated bounceIn delay-025s">
													<i class="pic color_log guillaume bureau"></i>
												</div>
												<span class="name">Guillaume</span>
												</div>
								</div>
								
											</div>
							</div>
						</section>

		                </div>
			        </div>
			    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65],
			n = 0,
			alter = false;
		$(document).keydown(function (e) {
			if ($('#trombi').is(':visible')) {
			    if (e.keyCode === k[n++]) {
			        if (n === k.length) {
						if (alter) {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").removeClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
						} else {
				        	$(".pic").fadeOut('slow', function() {
					        	$(".pic").addClass('pic2');
					        	$(".pic").fadeIn('slow');
				        	});
			        	}
			    		n = 0;
			    		alter = !alter;
			        }
			    } else
			    	n = 0;
			}
		});
	</script>
{% endblock %}
