/www/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/*.sublime-workspace
/*.sublime-project
/www/uploads/media/news/
/www/uploads/media/shop/
/www/uploads/media/club/
/www/uploads/media/gallery/
/www/css/
/www/js/
/www/mail/
/.idea/
