/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/*.sublime-workspace
/*.sublime-project
/web/uploads/media/news/
/web/uploads/media/shop/
/web/uploads/media/club/
/web/uploads/media/gallery/
/web/css/
/web/js/
/web/mail/
/.idea/
