{% extends '::base.bis.html.twig' %}

{% block title %}Liste des clubs{% endblock %}

{% block body %}
    {% sonata_template_box 'Liste des clubs' %}  
    <section class="panel">
{#         <header class="panel-heading">
            Clubs
        </header> #}
        <div class="panel-body">
            {% for category, club_list in club_list_by_category %}
                {% if loop.first %}
                    <div class="col-lg-6 col-sm-12">
                {% endif %}

                <h1>{{ category }}</h1>
                {% for club in club_list %}
                    <div>
                        <h2>
                            <a href="{{ path('application_bde_club_show', { 'id': club.id, 'shortcode': club.shortcode }) }}">{{ club.title }}</a>
                        </h2>

                        <div style="min-height:90px;">
                            <div style="float: left;">
                                {% thumbnail club.logo, 'small' with {'class': 'logoClub'} %}
                            </div>
                            <div style="margin-left:110px;text-align:justify;">
                                {{ club.abstract }}
                            </div>
                        </div>
                    </div>

                    <hr />
                {% else %}
                    Aucun club
                {% endfor %}

                {% if loop.first %}
                    </div>
                    <div class="col-lg-6 col-sm-12">
                {% endif %}

                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block liClubs %}class='active'{% endblock %}