{% extends '::base.html.twig' %}

{% block title club.title %}
{% block og_image %}{% if club.logo is not null %}{% path club.logo, 'reference' %}{% endif %}{% endblock %}
{% block description club.abstract %}

{% block containerClass %} class="property gray-bg"{% endblock %}

{% block body %}
    <div class="col-lg-12 col-sm-12">
        <div style="float:left;">
            <img src="{% path club.logo, 'reference' %}" class="logoClub" style="max-width: 418px;">
        </div>
        <h1>{{ club.title }}</h1>
        <p>{{ club.content|raw }}</p>
    </div>
{% endblock %}

{% block liClubs %}class='active'{% endblock %}