{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}
    <ul class="nav navbar-nav">
        <li class="first last dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-download"></i> Générer & Télécharger le trombi pdf <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('application_bde_club_trombi', {id: object.id}) }}?contributorOnly=1">Avec cotisants uniquement</a></li>
                <li><a href="{{ path('application_bde_club_trombi', {id: object.id}) }}?contributorOnly=0">Avec tout le monde</a></li>
            </ul>
        </li>
    </ul>
{% endblock %}

{% block sonata_admin_content %}
    <div class="sonata-ba-view">
        {% include 'ApplicationBDEBundle:Club:trombi_content.html.twig' with {'club': object, 'generator': false} %}
    </div>
{% endblock %}
