{% extends '::base.bis.html.twig' %}

{% block body %}
    <!--blog start-->
    <div class="col-lg-9 ">
		{% block archive %}
		{% endblock %}
    </div>

    <div class="col-lg-3">
        {{ render(controller('ApplicationSonataNewsBundle:Post:sideMenu')) }}
    </div>
    <!--blog end-->
{% endblock %}

{% block liNews %}class='active'{% endblock %}