{% extends '::base.bis.html.twig' %}

{% block title %}Breguet Shop{% endblock %}

{% block body %}
    <div class="col-lg-9">
        <div class="row product-list">
            {% set i = 1 %}
            {% spaceless %}
            {% for product in product_list %}
                {% if not product.hidden %}
                    <div class="col-md-4 vAlignBaseLine">
                        <section class="panel">
                            <div class="pro-img-box">
                                <a href="{{ path('application_bde_breguet_shop_show', {'id': product.id}) }}">
                                    {% thumbnail product.photos[0].media, 'shop_small' with {'class': 'media-object'} %}
                                    <span class="adtocart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </span>
                                </a>
                            </div>

                            <div class="panel-body text-center">
                                <h4>
                                    <a href="{{ path('application_bde_breguet_shop_show', {'id': product.id}) }}" class="pro-title">
                                        {{ product.name }}
                                    </a>
                                </h4>
                            </div>
                        </section>
                    </div>
                {% endif %}
            {% else %}
                Aucun produit
            {% endfor %}
            {% endspaceless %}
        </div>
    </div>
    {{ render(controller('ApplicationBDEBundle:Shop:listCategory')) }}
{% endblock %}

{% block liServices %} active{% endblock %}