{% extends '::base.bis.html.twig' %}

{% block title %}Breguet Shop{% endblock %}

{% block body %}
    <div class="col-lg-9">
        <div class="row product-list">
            {% set i = 1 %}
            {% for product in product_list %}
                {% if not product.hidden %}
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                {% thumbnail product.photos.GalleryHasMedias[0].media, product.photos.defaultFormat with {'class': 'media-object'} %}
                                <a href="#" class="adtocart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>

                            <div class="panel-body text-center">
                                <h4>
                                    <a href="{{ path('application_bde_breguet_shop_show', {'id': product.id}) }}" class="pro-title">
                                        {{ product.name }}
                                    </a>
                                </h4>
                            </div>
                        </section>
                    </div>
                {% endif %}
            {% else %}
                Aucun produit
            {% endfor %}
        </div>
    </div>
    {{ render(controller('ApplicationBDEBundle:Shop:listCategory')) }}
{% endblock %}

{% block liShop %}class='active'{% endblock %}