{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <h2>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h2>
    </div>

    <div class="col-lg-2">
        {% block sonata_profile_menu %}
            <div class="list-group">
                <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">{{ "title_dashboard"|trans({}, 'SonataAdminBundle') }}</a>
                <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Mon profil</a>
                <a href="{{ path('fos_user_profile_edit_authentication') }}" class="list-group-item">Informations de connexion</a>
            </div>
        {% endblock %}
    </div>

    <div class="col-lg-10">
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}

        {% block sonata_profile_content '' %}
    </div>
{% endblock %}