.pic{
	background: url('../img/tiles_pics.jpg');
	width: 200px;
	height: 200px;
	display: inline-block;
	border-radius: 50%;
}

.color_bureau{
	border: 5px solid #d4582c;
}

.color_ave{
	border: 5px solid #ff9529;
}

.color_log{
	border: 5px solid #fdab3a;
}

.color_com{
	border: 5px solid #fb7125;
}

.pic.mafe{background-position: -0px -0px;}
.pic.adrien{background-position: -200px -0px;}
.pic.hicham{background-position: -400px -0px;}
.pic.laurads{background-position: -600px -0px;}
.pic.thomas{background-position: -800px -0px;}
.pic.chloe{background-position: -0px -200px;}
.pic.audrey{background-position: -200px -200px;}
.pic.leopold{background-position: -400px -200px;}
.pic.cedric{background-position: -600px -200px;}
.pic.cyrine{background-position: -800px -200px;}
.pic.camille{background-position: -0px -400px;}
.pic.brice{background-position: -200px -400px;}
.pic.naila{background-position: -400px -400px;}
.pic.antoinel{background-position: -600px -400px;}
.pic.aurelie{background-position: -800px -400px;}
.pic.nael{background-position: -0px -600px;}
.pic.pepito{background-position: -200px -600px;}
.pic.yasmina{background-position: -400px -600px;}
.pic.gregoire{background-position: -600px -600px;}
.pic.steph{background-position: -800px -600px;}
.pic.miguel{background-position: -0px -800px;}
.pic.catherine{background-position: -200px -800px;}
.pic.antoiner{background-position: -400px -800px;}
.pic.julien{background-position: -600px -800px;}
.pic.yann{background-position: -800px -800px;}
.pic.victoria{background-position: -0px -1000px;}
.pic.rana{background-position: -200px -1000px;}
.pic.laurag{background-position: -400px -1000px;}
.pic.raphaelle{background-position: -600px -1000px;}
.pic.marc{background-position: -800px -1000px;}
.pic.geraldine{background-position: -0px -1200px;}
.pic.geraud{background-position: -200px -1200px;}
.pic.theo{background-position: -400px -1200px;}
.pic.georges{background-position: -600px -1200px;}
.pic.doryan{background-position: -800px -1200px;}
.pic.geoffroy{background-position: -0px -1400px;}

/*@media (min-width: 750px) {
	.bureau-top {
		margin-top:-145px;
	}
	.bureau-bottom {
		margin-bottom:-145px;
	}
	.bureau-top-center {
		margin-top:-90px;
	}
	.bureau-bottom-center {
		margin-bottom:-90px;
	}

	.pole.big {
		line-height: 429px;
	}
}*/

@media screen and (max-width: 750px) {
  .member-top-center {
      margin-top: 30px;
}

.member-center-center {
    margin-top: 30px;
}
.member-bottom-center {
    margin-top: 30px;
}
  .member-top {
    margin-top: 30px;
  }
  .member-bottom {
    margin-top: 30px;
  }
}

@media screen and (min-width: 750px) {
  .member-top-center {
      margin-top: -90px;
}

.member-center-center {
    margin-top: -130px;
}
.member-bottom-center {
    margin-top: -150px;
}
  .member-top {
    margin-top: -110px;
  }
  .member-bottom {
    margin-top: 10px;
  }
}


.pole {
	text-transform:uppercase;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 22px;
	height:233px;
	line-height: 233px;
}

.pic2 {
	background: url('tiles_pics_alter.jpg');
}
