{% block student_widget %}
    {% spaceless %}
    	<div class="student_type">
    		{{ form_widget(form) }}
    		<i class="fa fa-2x fa-spinner fa-spin" style="float: right;margin: -31px 5px 0 0;display: none"></i>
    		<span class="student-firstname"></span>&nbsp;
    		<span class="student-lastname"></span>&nbsp;
    		<span class="student-class"></span>
    	</div>
    {% endspaceless %}
{% endblock %}
