{% extends '::base.bis.html.twig' %}

{% block title %}Ferus{% endblock %}

{% block containerClass %} class="property"{% endblock %}

{% block breadcrumbs %}
<!--breadcrumbs start-->
<div class="container">
    <div class="row">
        <!--feature start-->
        <div class="text-center feature-head">
            <h1>{% block title2 %}Bienvenue sur le site de FERUS{% endblock %}</h1>
            <p>Le plus beau BDE qui est et qui sera <i class="fa fa-heart" style="color:#3EC8B7;"></i></p>
        </div>
        <!--feature end-->
    </div>
</div>
<!--breadcrumbs end-->
{% endblock %}

{% block body %}
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-university"></i>
                <h2>L'association</h2>
            </div>
            <p class="f-text">Le Bureau des Élèves (BDE) est l’association la plus importante de l'école et elle est au cœur de la vie étudiante. Elle fait le lien entre les étudiants, l'école et les entreprises.</p>
            <a href="{{ path('application_bde_history') }}" class="btn btn-purchase" style="width:100%;">Un peu d’histoire</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i style="max-height: 51px;">
                    <img src="{{ asset('favicon.png') }}" style="max-height: 51px; vertical-align: top;max-width: 51px;">
                </i>
                <h2>L'équipe</h2>
            </div>
            <p class="f-text">Ferus c'est avant tout un groupe d'amis qui ont su s'unir afin de proposer le meilleur pour les étudiants de l'ESIEE et qui s'assureront que ton année se passe toute en douceur.</p>
            <a href="{{ path('application_bde_team') }}" class="btn btn-purchase" style="width:100%;">Découvre nous !</a>
        </section>
    </div>
    <div class="col-lg-4 col-sm-4">
        <section>
            <div class="f-box">
                <i class="fa fa-building"></i>
                <h2>Entreprises</h2>
            </div>
            <p class="f-text">Ferus c'est avant tout un groupe d'amis qui ont su s'unir afin de proposer le meilleur pour les étudiants de l'ESIEE et qui s'assureront que ton année se passe toute en douceur.</p>
            <a href="{{ path('application_bde_partnership') }}" class="btn btn-purchase" style="width:100%;">Devenir partenaire</a>
        </section>
    </div>
{% endblock %}

{% block liAccueil %}class='active'{% endblock %}