<div class="col-lg-3">
    <div class="blog-side-item">
        <div class="category">
            <h3>Categories</h3>
            <ul class="list-unstyled">
                {% for category in category_list %}
                    <li>
                        <a href="{{ path('application_shop_breguet_shop_filter', {id: category.id}) }}">
                            <i class="fa fa-angle-right"></i> {{ category.name }}
                        </a>
                    </li>
                {% else %}
                    <li><i class="  fa fa-angle-right"></i> Aucune catégorie</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>