{% extends sonata_block.templates.block_base %}

{% block block %}
	{% if is_granted('ROLE_EDITOR') %}
		<div class="editable_block" blockTitle="{{ settings.title }}">
	{% endif %}
    {{ editableTextBlock.content|raw }}
	{% if is_granted('ROLE_EDITOR') %}
    	</div>
	{% endif %}
{% endblock %}